@font-face {
  font-family: 'Grenze';
  font-style: normal;
  font-weight: 400;
  src: local('Grenze Regular'), local('Grenze-Regular'), url(https://fonts.gstatic.com/s/grenze/v1/O4ZTFGb7hR12BxqH-GIj.ttf) format('truetype');
}
